<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Lista de tarefas</title>
</head>

<body>

    <main>

        <form method="post" action="/tarefas/registrar" class="add-form">
            <input type="text" placeholder="Adicionar tarefa" name="tarefaLabel" class="inputTarefa">
            <button type="submit">+</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Tarefa</th>
                    <th>Criada em</th>
                    <th>Prioridade</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Titulo da task</td>
                    <td>20 de dezembro de 2023 14:00</td>
                    <td>
                        <select class="prioriadade-select">
                            <option value="Pendente">Baixa</option>
                            <option value="Em andamento">Média</option>
                            <option value="Concluida">Alta</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn-action atualizar"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn-action delete"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <script src="assets/js/apiTasks.js">
    </script>
</body>

</html>